body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cadetblue;
  font-family: sans-serif;
}
.images-container {
  text-align: center;
}
.images-container img {
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: lightgray;
  width: 300px;
  height: 300px;
}
.images-container img:hover {
  transform: scale(1.07);
}
.btn {
  padding: 10px 20px;
  background-color: antiquewhite;
  margin: 10px;
  color: darkslategray;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}
